extends layout
block content
    .container
        h1 "add category"
        ul.errors
            if errors
                for error, i in errors
                    li.alert.alert-danger
                        #{error.ms}
        form(method='post', action='/categories/add', enctype="multipart/form-data")
            .form-group
                label title:
                input.form-control(name='title', type='text')
            input.btn.btn-default(name='submit', type='submit', value='save')