extends layout

block content
    .jumbotron.c1
        .container
            h1 How can i help you?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet imperdiet ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed et dictum neque. Sed scelerisque tortor ut orci varius, in dapibus augue vulputate. Mauris eleifend aliquet risus, id congue diam dignissim in. Integer volutpat scelerisque lacus, eget vulputate leo euismod ut. Donec dapibus convallis mauris non vestibulum. Curabitur egestas ullamcorper libero, nec rhoncus tellus placerat non. Cras suscipit eros vitae lacus pellentesque venenatis. Proin mattis arcu pharetra lorem rhoncus, non egestas nisi tincidunt. Vivamus tristique eros dui, in volutpat est placerat et.
            a.btn.btn-primary.btn-lg(href="#") learn more &raquo

    .container
        .row
            .col-md-4.col-sm-6.col-xs-6
                h3 AboutUS
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet imperdiet ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed et dictum neque. Sed scelerisque tortor ut orci varius, in dapibus augue vulputate. Mauris eleifend aliquet risus, id congue diam dignissim in. Integer volutpat scelerisque lacus, eget vulputate leo euismod ut. Donec dapibus convallis mauris non vestibulum. Curabitur egestas ullamcorper libero, nec rhoncus tellus placerat non. Cras suscipit eros vitae lacus pellentesque venenatis. Proin mattis arcu pharetra lorem rhoncus, non egestas nisi tincidunt. Vivamus tristique eros dui, in volutpat est placerat et.
                a.btn.btn-default(href="") learn more
            .col-md-4.col-sm-6.col-xs-6
                h3 OurSupport
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet imperdiet ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed et dictum neque. Sed scelerisque tortor ut orci varius, in dapibus augue vulputate. Mauris eleifend aliquet risus, id congue diam dignissim in. Integer volutpat scelerisque lacus, eget vulputate leo euismod ut. Donec dapibus convallis mauris non vestibulum. Curabitur egestas ullamcorper libero, nec rhoncus tellus placerat non. Cras suscipit eros vitae lacus pellentesque venenatis. Proin mattis arcu pharetra lorem rhoncus, non egestas nisi tincidunt. Vivamus tristique eros dui, in volutpat est placerat et.
                a.btn.btn-default(href="") learn more
            .col-md-4.col-sm-12.col-xs-12
                h3 OurTeam
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet imperdiet ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed et dictum neque. Sed scelerisque tortor ut orci varius, in dapibus augue vulputate. Mauris eleifend aliquet risus, id congue diam dignissim in. Integer volutpat scelerisque lacus, eget vulputate leo euismod ut. Donec dapibus convallis mauris non vestibulum. Curabitur egestas ullamcorper libero, nec rhoncus tellus placerat non. Cras suscipit eros vitae lacus pellentesque venenatis. Proin mattis arcu pharetra lorem rhoncus, non egestas nisi tincidunt. Vivamus tristique eros dui, in volutpat est placerat et.
                a.btn.btn-default(href="") learn more